[submodule "dot_emacs.d/site-lisp/magit"]
	path = dot_emacs.d/site-lisp/magit
	url = http://github.com/philjackson/magit.git
[submodule "dot_emacs.d/site-lisp/rinari"]
	path = dot_emacs.d/site-lisp/rinari
	url = http://github.com/eschulte/rinari.git
[submodule "dot_emacs.d/site-lisp/rhtml-mode"]
	path = dot_emacs.d/site-lisp/rhtml-mode
	url = http://github.com/eschulte/rhtml.git
[submodule "dot_emacs.d/site-lisp/icicles"]
	path = dot_emacs.d/site-lisp/icicles
	url = http://github.com/emacsmirror/icicles.git
[submodule "dot_emacs.d/site-lisp/jump"]
	path = dot_emacs.d/site-lisp/jump
	url = http://github.com/eschulte/jump.el.git
[submodule "dot_emacs.d/site-lisp/color-theme"]
	path = dot_emacs.d/site-lisp/color-theme
	url = http://github.com/haxney/color-theme.git
[submodule "dot_emacs.d/site-lisp/org-mode"]
	path = dot_emacs.d/site-lisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "dot_emacs.d/site-lisp/eproject"]
	path = dot_emacs.d/site-lisp/eproject
	url = http://github.com/jrockway/eproject.git
